//
// TOTEM #3 Bluetooth
// Translated from "Geist Totem WIred.vil" while retaining the wireless
// build's Bluetooth profile and maintenance controls.
//

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1000
#define ZMK_POINTING_DEFAULT_SCRL_VAL 15
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define MOUSE 1
#define NAV 2
#define SYMBOL 3
#define BT 4
#define GAME 5

/* Match the 170 ms tap-dance timing used by the wired Vial keymap. */
&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    quick-tap-ms = <100>;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    behaviors {
        hml: homerow_mod_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
        };

        hmr: homerow_mod_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
    compatible = "zmk,combos";

    /* Q + W types username macro. */
    combo_username {
        timeout-ms = <50>;
        key-positions = <0 1>;
        bindings = <&username_macro>;
    };

    /* A + S + D + F toggles GAME layer on/off. */
    combo_game_toggle {
        timeout-ms = <120>;
        key-positions = <10 11 12 13>;
        layers = <BASE GAME>;
        bindings = <&tog GAME>;
    };
};

    macros {
        username_macro: username_macro {
            label = "11.Yojimbo";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp N1 &kp N1 &kp DOT &kp LS(Y) &kp O &kp J &kp I &kp M &kp B &kp O>;
        };

        inhal_macro: inhal_macro {
            label = "inhal";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp I &kp N &kp H &kp A &kp L>;
        };

        bland_macro: bland_macro {
            label = "bland";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp B &kp L &kp A &kp N &kp D>;
        };

        vent_macro: vent_macro {
            label = "vent";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp V &kp E &kp N &kp T>;
        };

        niv_macro: niv_macro {
            label = "niv";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp N &kp I &kp V>;
        };

        osa_macro: osa_macro {
            label = "osa";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp O &kp S &kp A>;
        };

        cad_macro: cad_macro {
            label = "Ctrl Alt Delete";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LCTRL &kp LALT>,
                <&macro_tap &kp DEL>,
                <&macro_release &kp LCTRL &kp LALT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";

            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     E     ┃     R     ┃     T     ┃   ┃     Y     ┃     U     ┃     I     ┃     O     ┃     P     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃   A/GUI   ┃   S/ALT   ┃  D/CTRL   ┃  F/SHIFT  ┃     G     ┃   ┃     H     ┃  J/SHIFT  ┃  K/CTRL   ┃   L/ALT   ┃   ;/GUI   ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃   MOUSE   ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     N     ┃     M     ┃     ,     ┃     .     ┃     /     ┃     '     ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃    NAV    ┃BSPC/SYMBOL┃ DEL/ESC   ┃   ┃   ENTER   ┃   SPACE   ┃  TAB/BT   ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
                       &kp Q        &kp W        &kp E        &kp R        &kp T          &kp Y       &kp U         &kp I         &kp O        &kp P
                       &hml LGUI A  &hml LALT S  &hml LCTRL D &hml LSHIFT F &kp G          &kp H       &hmr RSHIFT J &hmr LCTRL K  &hmr LALT L &hmr LGUI SEMI
            &mo MOUSE  &kp Z        &kp X        &kp C        &kp V        &kp B          &kp N       &kp M         &kp COMMA     &kp DOT      &kp SLASH     &kp APOS
                                    &mo NAV      &lt SYMBOL BACKSPACE     &mt ESC DEL     &kp ENTER   &kp SPACE     &lt BT TAB
            >;
        };

        mouse_layer {
            label = "MOUSE";

            bindings = <
                &inhal_macro  &bland_macro  &vent_macro  &niv_macro  &osa_macro    &msc SCRL_UP    &mkp LCLK       &mmv MOVE_UP    &mkp RCLK        &msc SCRL_LEFT
                &none         &none         &none        &none       &none         &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_RIGHT
                &none         &none         &none        &none       &none         &none          &none           &mkp MCLK       &mkp MB4         &mkp MB5         &none  &none
                                            &trans       &trans      &trans         &mkp LCLK      &mkp RCLK       &trans
            >;
        };

        nav_layer {
            label = "NAV";

            bindings = <
                         &kp HOME       &kp LS(TAB)  &kp UP     &kp TAB    &kp PG_UP       &kp KP_DIVIDE    &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_MINUS
                         &kp END        &kp LEFT     &kp DOWN   &kp RIGHT  &kp PG_DN       &kp KP_MULTIPLY  &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_PLUS
            &kp LC(A)    &kp LC(F)      &kp LC(X)   &kp LC(C)  &kp LC(V)  &kp LC(B)       &kp KP_EQUAL     &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp KP_COMMA  &kp KP_NUMLOCK
                                        &trans      &trans     &trans                  &kp KP_ENTER     &kp KP_DOT &kp KP_N0
            >;
        };

        symbol_layer {
            label = "SYMBOL";

            bindings = <
                             &kp N1      &kp N2      &kp N3      &kp N4      &kp N5        &kp N6       &kp N7       &kp N8       &kp N9       &kp N0
                             &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)    &kp MINUS    &kp EQUAL    &kp LBKT     &kp RBKT     &kp BSLH
            &kp CAPSLOCK    &kp LS(N6)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)    &kp LS(MINUS) &kp LS(EQUAL) &kp LS(LBKT) &kp LS(RBKT) &kp LS(BSLH) &kp LS(GRAVE)
                                          &trans      &trans      &trans                 &trans         &trans         &trans
            >;
        };

        bt_layer {
            label = "BT";

            // All ten selectors remain on the left half:
            // Z-X-C-V-B = BT1-BT5; A-S-D-F-G = BT6-BT10.
            // Y clears all profiles; H clears the current profile.
            bindings = <
                &cad_macro   &username_macro  &out OUT_USB  &out OUT_BLE  &none          &bt BT_CLR_ALL  &none   &none   &none   &bootloader
                &bt BT_SEL 5 &bt BT_SEL 6     &bt BT_SEL 7  &bt BT_SEL 8 &bt BT_SEL 9   &bt BT_CLR      &none   &none   &none   &none
                &trans       &bt BT_SEL 0     &bt BT_SEL 1  &bt BT_SEL 2 &bt BT_SEL 3   &bt BT_SEL 4    &none   &none   &none   &none   &sys_reset  &studio_unlock
                                              &trans         &trans       &trans          &trans          &trans  &trans
            >;
        };
        game_layer {
    label = "GAME";

    bindings = <
        &kp TAB     &kp Q      &kp W      &kp E      &kp R
        &kp N7      &kp N8     &kp N9     &kp N0     &kp ESC

        &kp LSHIFT  &kp A      &kp S      &kp D      &kp F
        &kp N4      &kp N5     &kp N6     &kp I      &kp UP

        &kp LCTRL   &kp C      &kp X      &kp Z      &kp V      &kp G
        &kp N1      &kp N2     &kp N3     &kp LEFT   &kp DOWN   &kp RIGHT

        &kp ESC     &kp LALT   &kp SPACE
        &kp ENTER   &kp LALT   &kp DEL
    >;
};
    };
};
